.artist_container{}
.artist_container .banner{position: relative; top: -90px;}
.banner .bp_banner{height: 700px;}
.banner .bp_banner .swiper-wrapper{}
.banner .bp_banner .swiper-slide{}
.banner .bp_banner .swiper-slide .img_wrap{height: 100%;}
.banner .bp_banner .swiper-slide .img_wrap img{width: 100%;height: 100%;object-fit: cover;}
